<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link href="/css/style.css" rel="stylesheet">
	<title>베팅승률분석</title>
</head>

<body class="d-flex h-100 text-center text-bg-dark">
	<nav class="navbar navbar-dark bg-dark fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">배팅 승률 분석</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
				data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" style="width: 480px"
				id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
				<div class="offcanvas-header">

					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
						aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-start" href="#"
								role="button" data-bs-toggle="dropdown" aria-expanded="false">
								3인매치 </a>
							<ul class="dropdown-menu dropdown-menu-dark">
								<li th:each="elm : ${trioMatches}"><a class="dropdown-item fs-7"
										th:href="@{/analysis/triomatch/{matchId}(matchId=${elm.id})}"> <span
											th:text="${elm.one}">??</span> <span class="text-danger">vs</span> <span
											th:text="${elm.two}">??</span>
										<span class="text-danger">vs</span> <span th:text="${elm.three}">??</span>
									</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item fs-7" href="/match/trio"><i class="bi bi-plus-square"></i>
										매치 추가</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-start" href="#"
								role="button" data-bs-toggle="dropdown" aria-expanded="false">
								4인매치 </a>
							<ul class="dropdown-menu dropdown-menu-dark">
								<li th:each="elm : ${quadMatches}"><a class="dropdown-item fs-7"
										th:href="@{/analysis/quadmatch/{matchId}(matchId=${elm.id})}"><span
											th:text="${elm.one}">??</span> <span class="text-danger">vs</span> <span
											th:text="${elm.two}">??</span> <span class="text-danger">vs</span>
										<span th:text="${elm.three}">??</span> <span class="text-danger">vs</span> <span
											th:text="${elm.four}">??</span>
									</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item fs-7" href="/match/quad"><i class="bi bi-plus-square"></i>
										매치 추가</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="container" style="margin-top: 80px">
		<h6>
			<span th:text="${match.one}">??</span> <span class="text-danger">vs</span> <span
				th:text="${match.two}">??</span> <span class="text-danger">vs</span> <span
				th:text="${match.three}">??</span> <span class="text-danger">vs</span> <span
				th:text="${match.four}">??</span>
		</h6>

		<!-- match result -->
		<div class="table-responsive small mt-3" style="max-height: 70vh">
			<table class="table table-dark table-striped" style="margin-bottom: 0px">
				<tbody>
					<tr th:each="e : ${results}" class="rows" th:data-one-odds="${e.oneOdds}"
						th:data-two-odds="${e.twoOdds}" th:data-three-odds="${e.threeOdds}"
						th:data-four-odds="${e.fourOdds}">
						<td style="width: 25.0%"><span
								th:class="${e.winner =='one'} ? 'badge text-bg-success fs-7' : 'fs-7'"
								th:text="${e.oneOdds }">10.5</span></td>
						<td style="width: 25.0%"><span
								th:class="${e.winner =='two'} ? 'badge text-bg-success fs-7' : 'fs-7'"
								th:text="${e.twoOdds }">1.7</span></td>
						<td style="width: 25.0%"><span
								th:class="${e.winner =='three'} ? 'badge text-bg-success fs-7' : 'fs-7'"
								th:text="${e.threeOdds }">10.8</span></td>
						<td style="width: 25.0%"><span
								th:class="${e.winner =='four'} ? 'badge text-bg-success fs-7' : 'fs-7'"
								th:text="${e.fourOdds }">10.8</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- search bar -->
		<div class="table-responsive small mt-1">
			<form class="m-0" method="post" onsubmit="confirmCheck(event);">

				<input type="hidden" name="matchId" th:value="${param.matchId}" />
				<table class="table table-dark table-striped mb-0">
					<thead>
						<tr>
							<th scope="col" style="width: 25%">
								<div class="input-group ">
									<input type="number" class="form-control fs-7 text-center odds" name="oneOdds"
										id="oneOdds" step="0.1">

								</div>
							</th>
							<th scope="col" style="width: 25%">
								<div class="input-group ">
									<input type="number" class="form-control fs-7 text-center odds" name="twoOdds"
										id="twoOdds" step="0.1">

								</div>
							</th>
							<th scope="col" style="width: 25%">
								<div class="input-group ">
									<input type="number" class="form-control fs-7 text-center odds" name="threeOdds"
										id="threeOdds" step="0.1">

								</div>
							</th>
							<th scope="col" style="width: 25%">
								<div class="input-group ">
									<input type="number" class="form-control fs-7 text-center odds" name="fourOdds"
										id="fourOdds" step="0.1">

								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="col" style="width: 25%; padding: 2px;">
								<div class="input-group justify-content-center">
									<input type="radio" class="btn-check" name="winner" id="option1" autocomplete="off"
										value="one">
									<label class="btn btn-outline-success btn-sm" for="option1">승자</label>
								</div>
							</th>
							<th scope="col" style="width: 25%; padding: 2px;">
								<div class="input-group justify-content-center">
									<input type="radio" class="btn-check" name="winner" id="option2" autocomplete="off"
										value="two">
									<label class="btn btn-outline-success btn-sm" for="option2">승자</label>
								</div>
							</th>
							<th scope="col" style="width: 25%; padding: 2px;">
								<div class="input-group justify-content-center">
									<input type="radio" class="btn-check" name="winner" id="option3" autocomplete="off"
										value="three">
									<label class="btn btn-outline-success btn-sm" for="option3">승자</label>
								</div>
							</th>
							<th scope="col" style="width: 25%; padding: 2px;">
								<div class="input-group justify-content-center">
									<input type="radio" class="btn-check" name="winner" id="option4" autocomplete="off"
										value="four">
									<label class="btn btn-outline-success btn-sm" for="option4">승자</label>
								</div>
							</th>
						</tr>
					</tbody>
				</table>

				<div class="my-5 text-end">
					<button class="btn btn-sm btn-light">매치결과등록</button>
				</div>
			</form>

		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script>
		function confirmCheck(evt) {
				if(!evt.target.winner.value) {
					if(!confirm("무승부로 등록합니다.")) {
						evt.preventDefault();
					}				
				}
			}		
			
		
		document.querySelectorAll(".btn-outline-success").forEach(elm => {
			elm.addEventListener("click", function (evt) {
				console.log(evt.target.previousElementSibling.checked);
				if (evt.target.previousElementSibling.checked) {
					evt.preventDefault();
					evt.target.previousElementSibling.checked = false;
				}
			})

		});


		document.querySelectorAll(".odds").forEach(odd => {

			odd.addEventListener("keydown", function (evt) {
				if (evt.key == 'Backspace' && evt.target.value == '') {
					// console.log(evt.target.id +" / "+evt.key +"/"+evt.target.value);
					if (evt.target.id == 'fourOdds') {
						document.querySelector("#threeOdds").focus();
					} else if (evt.target.id == 'threeOdds') {
						document.querySelector("#twoOdds").focus();
					} else if (evt.target.id == 'twoOdds') {
						document.querySelector("#oneOdds").focus();
					} else {
						document.querySelector("#oneOdds").blur();
					}
				}
			});



			odd.addEventListener("change", function (evt) {
				let oneOdds = document.querySelector("#oneOdds").value;
				let twoOdds = document.querySelector("#twoOdds").value;
				let threeOdds = document.querySelector("#threeOdds").value;
				let fourOdds = document.querySelector("#fourOdds").value;
				//	document.querySelector("#hiddenOneOdds").value = oneOdds;
				//	document.querySelector("#hiddenTwoOdds").value = twoOdds;
				//	document.querySelector("#hiddenThreeOdds").value = threeOdds;

				document.querySelectorAll(".rows").forEach(function (row) {
					// console.log(row);
					if (oneOdds && twoOdds && threeOdds && fourOdds) {
						row.style.display = (row.dataset.oneOdds == oneOdds && row.dataset.twoOdds == twoOdds && row.dataset.threeOdds == threeOdds && row.dataset.fourOdds == fourOdds) ? '' : 'none';
					} else if (oneOdds && twoOdds && threeOdds && !fourOdds) {
						row.style.display = (row.dataset.oneOdds == oneOdds && row.dataset.twoOdds == twoOdds && row.dataset.threeOdds == threeOdds) ? '' : 'none';
					} else if (oneOdds && twoOdds && !threeOdds && !fourOdds) {
						row.style.display = (row.dataset.oneOdds == oneOdds && row.dataset.twoOdds == twoOdds) ? '' : 'none';
					} else if (oneOdds && !twoOdds && !threeOdds && !fourOdds) {
						row.style.display = (row.dataset.oneOdds == oneOdds) ? '' : 'none';
					} else {
						row.style.display = '';
					}

				});




			});
		});
	</script>
</body>

</body>

</html>